<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA21E8A01C90464D00D87296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA21E8B91C90464D00D87296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA21E8C41C90464D00D87296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
